<div class="container">
  <br>
  <br>
  <div class="contenido">
  <h4>Me considero una persona apasionada por la tecnologia y en especial por la programacion.<br>
    Tengo mas de casi 10 años de experiencia personal y laboral con tecnologia donde mis inicios <br>
    empece trabajando en el area de soporte en tecnologia del cual logre convertirme en el lider
    en los proyectos que incursionaba.<br> El liderazgo es un tema que me apasiona y considero que
    una aptitud que debe irse mejorando con el tiempo no importa las situaciones que surjan en
    un proyecto lo importante es hacer hacer que los proyectos pasen y funcionen. <br>
    Mis lenguajes de programacion favoritos son Javascript, C# & Python y actualmente
    soy Ingeniero de Software en Formacion en el 6 semestre en la universidad Tecnologico de
    Antioquia   </h4>
</div>
</div>
