<div class="container">
  <br>
  <div class="alert alert-primary" role="alert">
    <h5 style="text-align: center;">Referencias Laborales</h5>
  </div>
  <br>


  <!--card-->
  <div class="row">
    <div class="col-sm">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Helio Faber Martinez</h5>
          <p class="card-text">Director Regional de Operaciones Comerciales Jumbo Cencosud
            Antioquia, Risaralda,Valle del cauca.</p>
            <p>Cencosud - Jumbo</p>
            <p>Cel: 3114621087</p>

        </div>
      </div>
    </div>

    <div class="col-sm">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Javier Sandoval</h5>
          <br>
          <p class="card-text">Gerente Nacional de Proyectos de Expansion IT.</p>
          <p>Cencosud</p>
          <br>
          <p>Cel: 3002133112</p>
        </div>
      </div>
    </div>

    <div class="col-sm">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Eliana Benitez</h5>
          <p class="card-text">Profesional en Seguridad Informatica.</p>
          <br>
          <p>Top Group </p>
          <br>
          <p>Cel: 3132833611</p>
        </div>
      </div>
    </div>

    <!--Fin row-->
  </div>




  <!--Cierre Container-->
</div>
