<div class="container">
    <br>
    <div class="alert alert-info" role="alert">
      <h5 style="text-align: center;">Referencias Personales</h5>
    </div>
    <br>


    <!--card-->
    <div class="row">
      <div class="col-sm">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Fransisco Javier Bedoya</h5>
            <p class="card-text">Abogado</p>
              <p>Alcaldia de la Estrella</p>
              <p>Cel: 3114621087</p>

          </div>
        </div>
      </div>

      <div class="col-sm">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Carlos Londoño</h5>
            <p class="card-text">Gerente de control perdidas </p>
            <p>Falabella Colombia</p>
            <p>Cel: 3127889548</p>
          </div>
        </div>
      </div>

      <div class="col-sm">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Manuela Carvajal</h5>
            <p class="card-text">Desarrolladora de Software.</p>
            <p>Cidenet S.A. </p>
            <p>Cel: 3235003323</p>
          </div>
        </div>
      </div>

      <!--Fin row-->
    </div>




    <!--Cierre Container-->
  </div>
