<div class="container">
  <br>
  <div class="row">
    <div class="col-sm">
    <img src="../../assets/img/logocarrefour.jpg" style="height: 140px; width: 160px;" data-toggle="modal" data-target="#exampleModalLong1">
    </div>
    <div class="col-sm">
    <img src="../../assets/img/Cencosud_logo.png" style="height: 80px; width: 160px; margin-top: 25px;" data-toggle="modal" data-target="#exampleModalLong2">
    </div>
    <div class="col-sm">
    <img src="../../assets/img/Logo_Metro_Cencosud.png" style="height: 120px; width: 140px; margin-left: 10px;" data-toggle="modal" data-target="#exampleModalLong3">
    </div>
    <div class="col-sm">
    <img src="../../assets/img/Logo_Jumbo_Cencosud.png" style="height: 120px; width: 140px; margin-left: 10px;" data-toggle="modal" data-target="#exampleModalLong4">
    </div>
    <div class="col-sm">
    <img src="../../assets/img/logowinpos.jpg" style="height: 120px; width: 250px; margin-left: 10px;" data-toggle="modal" data-target="#exampleModalLong5">
    </div>
  </div>


  <!--Cerrado de Container-->
</div>







<!-- Modal Carrefour -->
<div class="modal fade" id="exampleModalLong1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Experiencia en Carrefour</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h4 style="text-align: center;">Dic 2005 - Dic 2006</h4>
          <h4 style="text-align: center;">Carrefour Las Vegas (Sector Cajas)</h4>
          <h5 style="text-align: center;">Auxiliar de Cajas</h5>
          <h6>Tareas realizadas : Realizar el adecuado registro y cobranza de los productos vendidos en
            la tienda de manera ágil y rápida manteniendo los estandares establecidos por la compañia,
            para garantizar un recaudo optimo, disminuir las filas de espera en cajas y brindar un
            excelente servicio al cliente.
            </h6>
            <hr>
            <br>
            <h4 style="text-align: center;">Dic 2006 - Mayo 2009</h4>
            <h4 style="text-align: center;">Carrefour Las Vegas (Sector Cajas)</h4>
            <h5 style="text-align: center;">Auxiliar de Sistemas</h5>
            <h6>Tareas realizadas : Realizar, revisar y dar soporte tecnico a los equipos informaticos ;
               con el proposito de garantizar su normal funcionamiento y velar porque la tienda corra
               todos sus procesos con normalidad, brindando un servicio y atención rapida y efectiva.
              </h6>
              <h6>Dar soporte a toda la plataforma de servidores en tiendas como cuentas de usuarios, impresoras, PDT,
                carpetas compartidas, nubes internas con los partners.</h6>
                <h6>Dar soporte a cableado estructurado a los puntos logicos de la tienda y organización de
                  Gabinetes de distribucción de los SW Core.</h6>
                  <h6>Mantenimiento preventivo de todo el hardware de activos tecnologicos de la compañia.
                    </h6>
            <hr>
            <br>
            <h4 style="text-align: center;">Mayo 2009 - Nov 2013</h4>
            <h4 style="text-align: center;">Carrefour (Sectores: Antioquia,Risaralda, Valle del cauca) => Cencosud</h4>
            <h5 style="text-align: center;">Jefe Regional de Sistemas</h5>
            <h6>Tareas realizadas: Garantizar el correcto funcionamiento de toda la plataforma tecnologica de la
              compañia para la zonas de Antioquia, Risaralda y Valle del Cauca con el fin tambien de garantizar
              que los procedimientos sobre cada uno de los sistemas de acuerdo a los S.O. entendidos por los
              usuarios y auditados con el fin de garantizar el core del negocio y el patrimonio del mismo.</h6>
              <h6>Se administrada toda la plataforma de servidores en tiendas como cuentas de usuarios,
                impresoras, carpetas compartidas.
                </h6>
                <h6>
                    Realizar apagados de servidores mision critica junto a dispositivos que intervienen
                    en los procesos.

                </h6>
                <h6>
                    Era responsabilidad del area a cargo el cable estructurado logico que permitia la
                    comunicación con los equipos.

                </h6>
                <h6>
                    Se realizaban desarrollos de procedimientos internos de acuerdo de los programas
                    antes de salir a producción con el fin de que se tuvieran instructivos de
                    funcionamiento para los usuarios.
                </h6>
                <h6>
                    Se diseñaban y se generaban reportes de ventas o sistemas de información de
                    indicadores de gestión que permitiera la toma de desiciones de los Mandos Directivos
                    y comerciales.(Ventas, Stock, Ebitda,proyecciones, reestimaciones y previsiones de
                    los sectores de la tienda, etc.)

                </h6>
                <h6>
                    Se planeaba y coordinaba backup de seguridad con el fin de salvaguardar la
                    información de la compañia.

                </h6>
                <h6>Realizar negociociaciones con contratistas para la realización de proyectos.
                  </h6>
                  <h6>Garantizar el cumplimeinto por medio del sistemas para que las metas
                    establecidas a nivel de indicadores, inventarios, logistica y buenas practicas
                    para la centralización de la actividades y parametros de medición estandarizados
                     en procedimientos sobre el concepto de Supply Chain.
                    </h6>


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>

        </div>
      </div>
    </div>
  </div>



<!-- Modal de Cencosud-->
<div class="modal fade" id="exampleModalLong2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Experiencia en Cencosud</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <h4 style="text-align: center;">Mayo 2009 - Nov 2013</h4>
            <h4 style="text-align: center;">Cencosud (Sectores: Antioquia,Risaralda, Valle del cauca)</h4>
            <h5 style="text-align: center;">Jefe Regional Informatica & Telecomunicaciones</h5>
            <h6>Tareas realizadas: Garantizar el correcto funcionamiento de toda la plataforma tecnologica de la
              compañia para la zonas de Antioquia, Risaralda y Valle del Cauca con el fin tambien de garantizar
              que los procedimientos sobre cada uno de los sistemas de acuerdo a los S.O. entendidos por los
              usuarios y auditados con el fin de garantizar el core del negocio y el patrimonio del mismo.</h6>
              <h6>
                Fui designado como Gerente de proyectos(Project Manager) de la apertura y remodelaciones de almacenes de
                cencosud como Premium Plaza, C.C. Santa Fe Medellin, Almacen Metro de Bello, Jumbo Rionegro,
                Jumbo la 65, C.C. El progreso Metro DosQuebradas(Risaralda), Almacen Metro Cartago (Cartago-Valle del cauca),
                Almacen Jumbo Avenida del Rio(Risaralda), Estaciones de servicio Colombia, Autopista sur Texaco, Bello en Medellin
                Estaciones de servicio la 14, unicentro en Risaralda. Basicamente los trabajos que se realizaban en las
                aperturas eran con metodologias PMI ya que por la naturaleza de su proyecto debian ser escalables
                requeriamos obra civiles inicialmente y eletricidad y cableado logico para iniciar la instalacion
                de las plataformas tecnologicas y de los Data Center.
              </h6>
              <h6>Responsabilidad en la coordinacion de mesa de ayuda en la tienda sobre sus seguimientos semanales,
                mensuales y anuales en sus presupuestos en los pedidos de partes y que las partes solicitadas tecniamente fueran
                correctas.
              </h6>
              <h6>Se administrada toda la plataforma de servidores en tiendas como cuentas de usuarios,
                impresoras, carpetas compartidas.
                </h6>
                <h6>
                    Realizar apagados de servidores mision critica junto a dispositivos que intervienen
                    en los procesos.

                </h6>
                <h6>
                    Era responsabilidad del area a cargo el cable estructurado logico que permitia la
                    comunicación con los equipos.

                </h6>
                <h6>
                    Se realizaban desarrollos de procedimientos internos de acuerdo de los programas
                    antes de salir a producción con el fin de que se tuvieran instructivos de
                    funcionamiento para los usuarios.
                </h6>
                <h6>
                    Se diseñaban y se generaban reportes de ventas o sistemas de información de
                    indicadores de gestión que permitiera la toma de desiciones de los Mandos Directivos
                    y comerciales.(Ventas, Stock, Ebitda,proyecciones, reestimaciones y previsiones de
                    los sectores de la tienda, etc.)

                </h6>

                  <h6>Garantizar el cumplimeinto por medio del sistemas para que las metas
                    establecidas a nivel de indicadores, inventarios, logistica y buenas practicas
                    para la centralización de la actividades y parametros de medición estandarizados
                     en procedimientos sobre el concepto de Supply Chain.
                    </h6>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>

        </div>
      </div>
    </div>
  </div>




  <!-- Modal de metro-->
<div class="modal fade" id="exampleModalLong3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Experiencia en Metro</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <h4 style="text-align: center;">Dic 2013 - Oct 2015</h4>
            <h4 style="text-align: center;">Almacen Metro Itagui</h4>
            <h5 style="text-align: center;">Jefe Comercial Non Food</h5>
            <h6>Tareas realizadas :
                Organizar, dirigir y controlar la correcta utilización de los recursos disponibles
                como mercancias, dinamicas comerciales, hombres con menor costo posible obteniendo la
                 mejor rentabilidad con el fin de buscar el contante mejoramiento de la tasa de
                 penetración, el cumplimiento de las previsiones de venta del sector y la cuota de mercado
                 ademas de la satisfacer las necesidades de los clientes superando las expectativas y
                 lograr su fidelización.
                </h6>
                <h6>Toma de desiciones sobre los analices de los indicadores de Cifra de venta,
                  debitos, compras media, ranking, merma, antiguedad de dias de stock para el cumplimiento
                   de la meta trazada.
                  </h6>
                  <h6>
                      Asegurar implantaciones de mercancias de acuerdo a las tendencias o facilidades
                      de los clientes de acuerdo al estrato.

                  </h6>
                  <h6>
                      Realizar montaje de pedidos de mercancia necesarios para el surtido o dinamicas comerciales
                      y folletos de apuestas que hace la compañia.
                  </h6>
                  <h6>
                      Garantizar la oportuna formación de los colaboradores a cargo y coordinar asistencia
                      propia en las formaciones asignadas.
                  </h6>
                  <h6>
                      Realizar control de garantias efectuadas por clientes para que los proveedores
                      cumplan con lo establecido en los contratos de garantias de acuerdo a la ley 1480
                      del 2011.

                  </h6>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>




  <!-- Modal en Jumbo -->
<div class="modal fade" id="exampleModalLong4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Experiencia en Jumbo</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <h4 style="text-align: center;">Oct 2015 - Jun 1 del 2016</h4>
            <h4 style="text-align: center;">Almacen Jumbo Las Vegas</h4>
            <h5 style="text-align: center;">Jefe Comercial Food (PGC - Alimentar)</h5>
            <h6>Tareas realizadas : Diagnosticar, crear y orientar la gestión directiva en el marco
              de la organización, estimulando la participación de sus integrates para el logro de los
              objetivos, mediante la autogestión y autocontrol en procura de una sinergia, crecimiento
              organización y desarrollo humano para obtener los mejores resultados en un medio cada vez
              mas exigente y complejo en cuanto tecnologia y competencias del mercado en constante
              globalización.
              </h6>
              <h6>
                  Garantizar la oportuna formación de los colaboradores a cargo y coordinar asistencia
                   propia en las formaciones asignadas.

              </h6>
              <h6>
                  Toma de desiciones sobre los analices de los indicadores de Cifra de venta, debitos,
                  compras media, ranking, merma, antiguedad de dias de stock para el cumplimiento
                  de la meta trazada.
              </h6>
              <h6>
                  Asegurar implantaciones de mercancias de acuerdo a las tendencias o facilidades de los
                  clientes de acuerdo al estrato.

              </h6>
              <h6>
                  Realizar montaje de pedidos de mercancia necesarios para el surtido o dinamicas comerciales
                  y folletos de apuestas que hace la compañia.

              </h6>
              <h6>
                  Control y ejecución de todas las acciones comerciales encaminadas a la obtención de resultados
                  de la secciones a travez de dinamicas comerciales y servicio al clientye para garantizar
                  resultados rentables para la compañia en terminos de cifra de venta, margen y EBIT.

              </h6>
              <h6>
                  Controlar y ejecutar planes de acción para minimizar la merma.

              </h6>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>

        </div>
      </div>
    </div>
  </div>




  <!-- Modal en Jumbo -->
<div class="modal fade" id="exampleModalLong5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Experiencia en Jumbo</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <h4 style="text-align: center;">Ene 2017 - Jun 30 del 2017</h4>
            <h4 style="text-align: center;">Winpos </h4>
            <h5 style="text-align: center;">Ingeniero de Soporte</h5>
            <h6>
              Winpos es una software especializado en el sector del retail, restaurantes, minimercados
              tiendas de ropa que ofrece facturacion, loyalty, gestion de inventarios, manejos financieros,etc.

            </h6>
            <h6>
              Tareas Realizadas:
              Soporte telefonico y en sitio sobre la configuracion que se llegaba a presentar en el software
              bajo el sistema operativo Windows.
            </h6>
            <h6>
              Se realizaban asesorias respecto a procedimientos del software en sus diferentes modulos de
              almacen, supermercado, franquicias, restaurantes.
            </h6>
            <h6>
              Se realizaba administracion de la base de datos del sistema en SQL Server.
            </h6>
            <h6>

            </h6>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
